/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Explore the Collection
:: Form Elements
:: Collection: Browse by Photographer
:: Collection: Single Entry
:: Collection: Digital Exhibitions
:: Collection: Tagging Project
:: Exhibitions: Index (Current Exhibition)
:: Exhibitions: Archive (Past Exhibitions)
:: Events
:: MPP Artists
:: Subscribe Form
*/
/* -----------------------------------------
   Shared Styles
----------------------------------------- */
ul.vcard li a:hover {
    text-decoration:underline;
}


body, h1, h2, h3, h4, h5, h6, p, a, span, em, strong, li, blockquote, input, option, textarea, td {
  font-family: 'Lato' !important; }

a {
  color: #fd7700;
}
a:hover {
  color: #fd7700;
}

h1 {
  font-size: 1.5em;
  font-weight: 900;
  margin-bottom: 1em; }

h2 {
  font-size: 1em;
  line-height: 1.4em;
  font-weight: bold;
  text-transform: none;
  margin: 40px 0 20px 0; }
  
h2.mocp-label {
  font-size: 0.875em;
  text-transform: uppercase;
  color: #222;
}

h3 {
  font-weight: 900;
  font-size: 1.25em;
  line-height: 24px; }
p { 
  font-size: 1em;
  line-height: 1.4; }
p.leader {
  font-size: 1.2em;
}
a img {
  border: none;
}

ul.plain {
  list-style: none;
}

blockquote {
  font-size: 24px;
  font-style: italic;
  color: #000;
}
.breadcrumbs {
    margin-bottom: 30px;
}
.breadcrumbs a {
    text-decoration: none;
}
p.description {
  font-size: 1.25em;
  line-height: 1.6; }
  p.description a {
    color: #fd7700;
    text-decoration: none; }
    p.description a:hover {
      text-decoration: underline; }

p.description.limit {
  max-width: 500px; }

p.description.smaller {
  font-size: 1em; }

p.credit {
  margin-top: 5px;
  font-size: 0.875em;
}

.warning {
  font-weight: bold;
  color: #fd7700; }

.top-bar a {
    text-decoration: none;
}
.top-bar a:hover {
    text-decoration: underline;
}

.top-bar .dropdown > li > a {
  text-transform: none;
}
div.alert-box.closing {
  background-color: #fd7600;
  font-size: 1.125em;
  padding: 20px;
  line-height: 1.6;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin-top: 30px;
}
div.alert-box.closing a {
    color: white;
}
div.alert-box a.close {
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
}
.closing p {
  font-weight: bold;
  margin-bottom: 0;
  color:#000;
}
div.alert-box a.mocp {
  color: white !important;
  text-decoration: underline !important;
}

.alert-box p a.button.small.black:hover, .alert-box p a.button.small.black:focus {
    background-color:#000;
    text-decoration:underline;
}

.spacer {
  clear: both;
  display: block;
  height: 200px; }

.row.full-width {
  margin-top: 50px;
}

.spacey {
  clear: both;
  display: block;
  height: 75px; }

.hanging-indent {
  padding-left: 15px;
  text-indent: -15px; }
  .hanging-indent li {
    font-size: 16px; }

strong {
  font-weight: 700; }

dl.tabs dd.active {
    border-top: 3px solid #34d4c3;
}
dl.tabs dd a {
    text-decoration: none;
}



.banner-image {
  margin-bottom: 75px;
}
#secondarycontent {
    margin-bottom: 2em;
}
#secondarycontent .mocp-label {
    margin: 2em 0;
}
nav.subpages {
  margin-bottom: 50px;
}
nav .large-block-grid-3,
nav .large-block-grid-4 {
  margin-bottom: 75px;
}
nav .large-block-grid-3 a,
nav .large-block-grid-4 a {
  display:block;
  width: 100%;
  height: 250px;
  text-transform: none;
  font-weight: 900;
  font-size: 1.1em;
  line-height: 1.2em;
  color: #34d4c3;
  color: #ffcb19;
  vertical-align: middle;
  padding: 1em 1em 0 1em;
  background-color: rgba(0,0,0,0.4);
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}


nav .large-block-grid-3 a.button, nav .large-block-grid-4 a.button {
    display: block;
    width: auto;
    height: auto;
    text-transform: none;
    font-weight: 900;
    font-size: 1em;
    line-height: 1em;
    color: #000;
    background-color: #ffcb19;
    vertical-align: middle;
    padding: .625em;
    margin-top: 1em;
}


nav .large-block-grid-3 a:hover,
nav .large-block-grid-4 a:hover {
  background-color: rgba(0,0,0,0.8);
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}



.pad {
    padding: 1em 0 3em 0;
}

input#s,
input#flogin,
input#fpass,
input[type="text"],
input[type="email"],
input[type="password"] {
  display: inline-block;
  border: 0;
  height: 36px;
  margin-right: 16px;
  padding: 8px 20px;
  background-color: #eaeaea;
}

#wrap input[type="text"],
#wrap input[type="email"],
#wrap input[type="password"] {
  background-color: #eaeaea;
}
  
.row.login {
  margin-bottom: 100px;
}

.collection #maincontent input[type="text"],
.collection #maincontent input[type="email"],
.collection #maincontent input[type="password"] {
  background-color: #fff;
}

#maincontent #donate input[type="text"] {
  width: 280px !important; }

input::-webkit-input-placeholder {
  font-family: 'Lato'; }

input:-moz-placeholder {
  font-family: 'Lato'; }

input:-ms-input-placeholder {
  font-family: 'Lato'; }

.fsForm input {
  width: auto !important;
  height: auto !important; }
.fsForm select {
  width: auto !important; }

.button {
  padding: 12px 30px 10px;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .button:hover {
    text-decoration:underline;}
  .button.orange {
    background-color: #fd7700; }
  .button.blue {
    background-color: #34d4c3; }
  .button.yellow {
    background-color: #ffcb19; }
  .button.black {
    background-color: #000;
  }

/* foundicons */
[class*="general foundicon-"]:before {
  vertical-align: middle;
}


/* formstack */
.fsSpacerRow {
  display: none; }

.fsForm .fsCell {
  padding-left: 0; }

.fsForm .fsFieldFocused {
  background-image: url("http://www.colum.edu/_common/images/ui/form-field-focus-bg.png");
  background-color: #fff; }




header {
  background-color: #000;
  padding: 28px 0 0px 0; 
}
header .wordmark {
    padding-top: 30px;
    display: block;
}
.social, 
.general {
    -webkit-font-smoothing: antialiased;
}
.social span,
.general span {
    -webkit-font-smoothing: subpixel-antialiased;
}

#tactical-nav .social,
#footer .social {
  display: inline-block;
  font-size: 20px;
  -webkit-transition: color .4s;
  -moz-transition: color .4s;
  -o-transition: color .4s;
  color: #666; }
  #tactical-nav .social:hover,
  #footer .social:hover {
    color: #EEE; }

#tactical-nav .inline-list {
    margin-left: -0.375em;
}
#tactical-nav .inline-list li {
    margin-left: 0.375em;
}
#tactical-nav .general.foundicon-location span,
#tactical-nav .general.foundicon-clock span {
    display: none;
}

#tactical-nav a {
    position: relative;
    display: inline-block;
    padding: 0 4px;
    text-decoration: none; 
}
#tactical-nav .general {
    color: #ffcb19;
    font-weight: normal;
    font-size: 1.25em; 
}
#tactical-nav .general span {
    text-decoration: underline;
    padding-left: 3px;
    font-size: 0.6875em; 
}
#tactical-nav .general:hover span {
    text-decoration: none; 
}
#tactical-nav .social {
    bottom: -5px; 
}
#tactical-nav .foundicon-facebook {
    padding-left: 10px; 
}



#topsearch form {
    position: relative;
    margin-bottom: 0;
    /*max-width: 275px;*/
}
#topsearch form span.foundicon-search {
    position: absolute;
    left: 5px;
    top: 5px;
    color: #999; 
}
#topsearch input[type="text"] {
    height: 36px;
    /*max-width: 267px;*/
    padding-left: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    color: #FFF;
    font-family: 'Lato';
    font-size: 0.875em;
    background: #666666;
    margin-bottom: 0;
}

nav#primary a, 
#footer nav a {
  display: inline-block;
  -webkit-transition: color .4s;
  -moz-transition: color .4s;
  -o-transition: color .4s;
  text-transform: uppercase;
  text-decoration: none; }
nav#primary ul,
#footer nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  nav#primary ul li,
  #footer nav ul li {
    list-style: none;
    display: block;
    float: left; }
nav#primary a {
  font-size: 0.875em;
  font-weight: normal; }
nav#primary li:first-child a, nav .subnav li:first-child a {
  padding-left: 0 !important; }
nav#primary li:first-child.current a {
  background-position: 40% 100%; }
nav#primary {
  display: block;
  background-color: #000;
  overflow: auto; }
    nav#primary ul {
        width: 990px;
        margin: 0 auto;
    }
  nav#primary li.current a {
    color: #fd7700;
    background: transparent url(../images/ui/arrow-up.png) no-repeat 50% 100%; }
  nav#primary a {
    padding: 30px 11px 25px 11px;
    color: #fff; }
    nav#primary a:hover {
      color: #fd7700; }
      
    nav#primary a.button:hover {
        background-color:#fd7700;
        color:#fff;
        text-decoration:underline;
    }
  nav#primary .subnav {
    position: absolute;
    height: 0;
    left: 0;
    display: block;
    width: 100%;
    background-color: #eaeaea;
    overflow: hidden; }
    nav#primary .subnav > div {
      width: 980px;
      margin: 0 auto; }
      nav#primary .subnav > div a {
        font-weight: 700;
        padding: 25px 11px 25px 11px;
        color: #333333; }
        nav#primary .subnav > div a:hover, nav#primary .subnav > div a.current {
          color: #fd7700; }
      nav#primary .subnav > div > ul {
        margin-left: 0; }
        nav#primary .subnav > div > ul > li:first-child > a {
          padding-left: 0; }
nav.footer {
  background-color: #28282a; }
  nav.footer a {
    padding: 25px 11px 25px 11px; }
    nav.footer a.social {
      padding: 25px 4px 25px 4px; }
  nav.footer li a {
    font-size: 0.6875em;
    font-weight: 900;
    color: #CCC; }
    nav.footer li a:hover {
      color: #34d4c3; }

/* pad subnav menus to center under parent */
#shop-subnav {
  padding-left: 305px;
}
#about-subnav {
  /*padding-left: 134px;*/
}
#events-subnav {
  padding-left: 134px;
}



/* you are here */
.collection #collection > a,
.collection-artists #collection-artists > a,
.collection-highlights #collection-highlights > a,
.digital-exhibitions #digital-exhibitions > a,
.tagging-project #tagging-project > a,
.exhibitions #exhibitions > a,
.events #events > a,
.support #support > a,
.shop #shop > a,
.education #education > a,
.about #about > a {
  color: #fd7700; }

#maincontent,
#related {
  padding: 20px 0 60px 0;
  min-height: 400px; }
  
#maincontent.tight {
  padding-top: 0;
}  
  

#related a {
  font-weight: bold;
  color: #222; }
.view-more {
    text-align: center;
    padding-top: 1em;
    font-size: 0.95em;
}
#related .view-more a {
    color: #fff;
}


footer {
  background-color: #000; }
  footer p.copyright {
    padding: 60px 0 40px 0;
    font-weight: 900;
    font-size: 0.625em;
    text-transform: uppercase;
    color: #7b7d85; }
    footer p.copyright span {
      display: inline-block;
      padding: 0 10px; }
    footer p.copyright a {
      color: #7b7d85; }
      footer p.copyright a:hover {
        text-decoration: none; }

/* sticky footer */
html, body {
  height: 100%; }

#wrap {
  min-height: 100%; }

#main {
  overflow: auto;
  padding-bottom: 200px; }

/* must be same height as the footer */
#footer {
  position: relative;
  margin-top: -200px;
  /* negative value of footer height */
  height: 200px;
  clear: both; }

/*Opera Fix*/
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px; }

/* MODAL stuff */

a.close-reveal-modal {
  text-decoration: none;
}
a.close-reveal-modal:hover {
  text-decoration: underline;
}

#hoursModal,
#locationModal {
  /*width: 480px;*/
}
#locationModal .note {
    display: block;
    padding-top: 1em;
    text-align: right;
}

#hoursModal li {
  list-style-type: none; }
#hoursModal span {
  color: #444;
  display: inline-block;
  width: 100px; }

#hoursLocation a {
  display: inline-block; }
  #hoursLocation a img:hover span {
    text-decoration: underline; }

#hoursModal .overlay {
  margin: -40px 0 30px 20px;
  color: #fff;
}

.note {
  font-size: 0.5625em;
  text-transform: uppercase; }
  
.notice {
  font-size: 0.875em;
  color: #444;
}

/* -----------------------------------------
   Explore the Collection
----------------------------------------- */
.spotlight .description, .feature .description {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  text-align: left;
  bottom: 0; }

.spotlight {
  position: relative;
  width: 100%;
  margin-bottom: 2em; }
  .spotlight .description {
    width: 100%;
    /* height: 191px; */
    padding: 10px 30px 10px 22px;
    left: 0; }
    .spotlight .description h3 {
      font-weight: 900;
      font-size: 1.5em;
      color: #ffcb19;
      margin-bottom: 4px;
      line-height: 1.4; }
    .spotlight .description h4 {
      font-weight: normal;
      font-size: 1.5em;
      color: #fff;
      margin-top: 0;
      margin-bottom: 10px; }
    .spotlight .description p {
      font-size: 1em;
      color: #fff;}
.spotlight a .description p span {
  color: #ffcb19;
  text-decoration: underline; 
}
.spotlight a:hover .description p span {
  text-decoration: none; 
}

#current-exhibitions .spotlight {
  width: 100%;
  /*min-height: 536px;*/
}
  #current-exhibitions .spotlight .description {
    width: 100%;}
    /*
    #current-exhibitions .spotlight .description h3 {
      float: left;
      width: 40%;
      margin-top: 0; }
    #current-exhibitions .spotlight .description h4 {
      width: 40%;
      clear: left;
      float: left; }
    
    #current-exhibitions .spotlight .description p {
      float: right;
      width: 55%;
      padding-top: 5px; }
    */

.upcoming-exhibitions .spotlight {
  width: 100%;
  height: 267px; }
  .upcoming-exhibitions .spotlight img {
    float: right; }

    .upcoming-exhibitions .spotlight .description h3 {
      font-size: 1.25em;
      color: #34d4c3; }
    .upcoming-exhibitions .spotlight .description h4 {
      font-size: 1.25em;}
.upcoming-exhibitions .spotlight a .description span {
  color: #34d4c3; 
  display: block;
  padding-left: 0;
}


.spotlight img,
.feature img {
    width: 100%;
    line-height: 0;
    border: 0;
}
.feature {
  position: relative;
  margin-bottom: 30px;
}
  .feature h3 {
    color: #fd7700; }  
    .feature:last-child h3 {
        color: #34D4C3; }
  .feature.short {
    height: 232px; }
    .feature.short h3 {
      color: #34d4c3; }
.feature .description,
.spotlight .description {
    position: absolute;
    padding: 5px 20px;
    right: 0;
    bottom: 0;
    left: 0; 
}
    .feature .description h2 {
      font-weight: 900;
      font-size: 1.25em;
      margin-bottom: 4px; }
    .feature .description p {
      font-size: 1em; }
      .feature .description p a,
      .feature .description span,
      .spotlight .description span {
        color: #fff;
        text-decoration: underline; }
        .feature .description p a:hover,
        .feature a:hover .description span,
        .spotlight a:hover .description span {
          text-decoration: none; }
.feature .description span,
.spotlight .description span {
    display: block;
    padding-bottom: 1em;
}

/* collection feature header colors */
.features1 .six:nth-child(1) h3 {
  color: #fd7700; }

.features1 .six:nth-child(2) h3 {
  color: #ffcb19; }

.features2 .six:nth-child(1) h3 {
  color: #34d4c3; }

.features2 .six:nth-child(2) h3 {
  color: #fd7700; }

/* collection highlight headers */
.collection-highlights .block-grid li:nth-child(2) h3 {
  color: #ffcb19; }

.collection-highlights .block-grid li:nth-child(3) h3 {
  color: #34d4c3; }

.collection-highlights .block-grid li:nth-child(4) h3 {
  color: #fd7700; }

.collection-highlights .block-grid li:nth-child(5) h3 {
  color: #ffcb19; }

.collection-highlights .block-grid li:nth-child(6) h3 {
  color: #34d4c3; }

/* -----------------------------------------
   Form Elements
----------------------------------------- */
#search #collection-search, 
#search #user-actions, 
#user-login {
  padding: 0.5em 0;
  margin-bottom: 0;
}
#search #collection-search input[type=text] {
  background-color: #eaeaea; }
#search .home-search #collection-search input[type=text] {
  background-color: #FFF; }  
#search #collection-search input.button {
  margin-right: 20px; }
#search #user-actions a {
  padding: 10px;
  margin-top: 2px;
  display: inline-block; }
#search a {
  color: #222;
  text-transform: none; 
}
#search.top-search {
    padding: 1.5em 0;
}

.home-search, .home-user {
  background-color: #eaeaea;
  padding: 10px 20px 10px 25px;
  margin-bottom: 30px; }
.home-search p a, 
.home-user p a {
    margin-right: 6px; 
}

.home-search .browse-options {
  padding-top: 26px;
}

.home-search .browse-options a {
  display: block;
  padding: 24px 0 0 0;
  line-height: 1.4em; }

.home-user p {
    padding-top: 0;
    margin-bottom: 0;
}
.home-user p a {
    padding-right: 1em;
}

input#s {
  width: 280px; }

input#flogin, input#fpass {
  width: 214px; }

#collection-search .button,
#user-login .button {
  margin-left: 8px; }

.collection h2 {
  font-size: 0.875em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 14px 0 0 0; }

.collection-tagging-project {
    background: #000;
    color: #fff;
    padding: 30px 24px 24px;
}
.collection-tagging-project h3 {
    color: white;
}
.collection .tagging-project {
  background: #000;
  color: #fff;
  padding: 30px 24px 24px; }
  .collection .tagging-project h3 {
    margin-top: 0;
    font-weight: 400; }
    .collection .tagging-project h3 span {
      display: block;
      color: #ffcb19;
      font-weight: 900; }
  .collection .tagging-project p {
    font-size: 1em;
    padding-bottom: 20px; }
  .collection .tagging-project .button {
    color: #000;
    margin-bottom: 14px; }


/* -----------------------------------------
   Collection: Browse by Photographer
----------------------------------------- */
.toc {
  color: white;
  background-color: #333333;
  padding: 20px 0; }
  .toc a {
    color: white; }
  .toc .alphabet a {
    text-decoration: none;
    display: block;
    float: left;
    padding: 0 5px;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -o-transition: color .5s; }
    .toc .alphabet a:hover {
      color: #34d4c3; }
  .toc .term {
    display: inline-block;
    padding-left: 20px;
    color: #ffcb19; }
    .toc .term .type {
      color: #999; }

.toc-fixed {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.8em 0 0 0;
}
.toc-fixed .toc-label {
    width: 20%;
    position: relative;
    left: 10%;
}
.toc-fixed .alphabet {
    width: 60%;
    position: relative;
    left: 30%;
    top: -1em;
}

.next, .prev {
  position: absolute;
  top: 550px; }

.next {
  right: 0; }

.prev {
  left: 0; }

#records:hover .next,
#records:hover .prev {
  display: block; }

.group {
  padding: 30px 0;
  background-color: white;
  height: auto;
  min-height: 525px;
  overflow: hidden;
  position: relative; }
  .group .next, .group .prev {
    display: none;
    top: 33%; }
  .group h3 {
    font-size: 1.5em;
    margin: 0 0 1.8em 0;
    color: #666; }
    .group h3 span {
      font-weight: normal; }
  .group > .entries {
    display: none;
    overflow: hidden; }
    .group > .entries.active {
      display: block; }
    .group > .entries > .entry {
      display: block;
      float: left; }
  .group img {
    opacity: 0.4;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s; }
  .group.current {
    background-color: #eaeaea;
    color: #000; }
    .group.current h3 {
      color: #222; }
    .group.current a {
      color: #000; }
      .group.current a:hover {
        color: #fd7700; }
    .group.current .thumbnail img {
      opacity: 1; }

.entries .thumbnail, .entries .metadata {
  z-index: 2; }
.entries .thumbnail {
  display: block;
  max-width: 253px; }
  .entries .thumbnail img {
    vertical-align: middle; }
.entries a {
  text-decoration: none;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  -o-transition: color .5s;
  color: #000; }
  .entries a:hover {
    color: #fd7700; }
.entries .metadata {
  margin-top: 30px; }
  .entries .metadata span {
    display: block;
    padding: 3px 0;
    line-height: 14px; }
    .entries .metadata span.name_title {
      font-weight: bold;
      line-height: 1.6em; }
    .entries .metadata span.date_made {
      padding-bottom: 50px; }
.entries.grid > .row {
  margin: 50px 0; }

/* -----------------------------------------
   Collection: Single Entry
----------------------------------------- */
#records {
  background-color: #eaeaea; }

#record-slider h2 {
  margin: 25px 0; }
  #record-slider h2 span {
    display: inline-block;
    padding-left: 20px;
    color: #fd7700; }
    #record-slider h2 span .type {
      color: #666; }
    #record-slider h2 span a {
      color: #fd7700;
      text-decoration: none;
      -webkit-transition: color .5s;
      -moz-transition: color .5s;
      -o-transition: color .5s; }
      #record-slider h2 span a:hover {
        color: #333; }
#record-slider article {
  position: relative;
  padding-bottom: 50px; }
  #record-slider article .photo p {
    padding: 15px 0; }
  #record-slider article h1 {
    font-size: 1.5em;
    font-weight: 900;
    max-width: 55%;
    line-height: 1.4em; }
  #record-slider article ul.metadata {
    list-style-type: none;
    margin: 0 0 50px 0;
    font-size: 1em;
    /* max-width: 65%; */ }
    #record-slider article ul.metadata dt {
      display: inline;
      font-weight: bold; }
    #record-slider article ul.metadata dd {
      display: inline; }
  #record-slider article .tagging {
    max-width: 400px; }
    #record-slider article .tagging li {
      display: inline; }
      #record-slider article .tagging li a#addtag {
        background-color: #fd7700; }
        #record-slider article .tagging li a#addtag:hover {
          background-color: #34d4c3; }
      #record-slider article .tagging li a {
        background-color: #333333;
        display: inline-block;
        padding: 3px 14px 5px 14px;
        margin: 0 8px 10px 0;
        line-height: 1.4em;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        text-decoration: none;
        color: #fff;
        -webkit-transition: background-color .5s;
        -moz-transition: background-color .5s;
        -o-transition: background-color .5s; }
        #record-slider article .tagging li a:hover {
          background-color: #34d4c3; }
    #record-slider article .tagging .save-to-collection {
      clear: left;
      margin-top: 20px; }
      #record-slider article .tagging .save-to-collection span {
        padding-right: 10px; }
      #record-slider article .tagging .save-to-collection img {
        vertical-align: middle; }
    #record-slider article .tagging input[type=text] {
      width: 170px;
      display: block;
      height: 37px;
      float: left;
      margin-right: 10px;
      background-color: #fff; }

aside h3 {
  font-size: 1.5em; }
aside h4 {
  font-weight: 700;
  font-size: 1em;
  margin-bottom: 1.6em; }
aside p {
  font-weight: 400;
  font-size: 1em;
  font-style: normal;
  margin-bottom: 1.6em; }
  aside p.url a {
    font-weight: 700;
    text-decoration: none; }
    aside p.url a:hover {
      text-decoration: underline; }
aside .object {
  clear: left;
  height: 250px;
  padding: 20px 0; }
  aside .object .thumbnail {
    display: block;
    text-align: center;
    width: 200px;
    height: 200px;
    margin-right: 40px;
    float: left; }
  aside .object .data span {
    display: block;
    line-height: 1.4em; }
    aside .object .data span.title {
      padding-top: 60px; }
    aside .object .data span a {
      font-weight: bold; }

/* -----------------------------------------
   Collection: Digital Exhibitions
----------------------------------------- */
.heavy {
  font-weight: 900;
  font-size: 1.25em;
  margin-bottom: 4em; }

.digital-exhibitions h1 {
  margin-bottom: 1em; }
.digital-exhibitions .metadata {
  margin-top: 0; }
.digital-exhibitions .thumbnail {
  text-align: center !important; }

/* -----------------------------------------
   Collection: Tagging Project
----------------------------------------- */
.tagging-project {
  background: #000;
  color: #fff; }
  .tagging-project h1,
  .tagging-project h2,
  .tagging-project h3 {
    color: #fff;
  }
  .tagging-project hr {
    border-color: #666;
  }
  .tagging-project #maincontent p {
    font-size: 1.25em;
    margin-bottom: 2.5em; }
  .tagging-project #maincontent a {
    color: #34d4c3; }
  .tagging-project #maincontent .taglink {
    display: inline-block;
    width: 25%;
    font-size: 1em;
    line-height: 20px;
    color: #ffcb19;
    text-decoration: none; }
    .tagging-project #maincontent .taglink:hover {
      color: white;
      text-decoration: underline; }
  .tagging-project .reveal-modal {
    color: #222 !important;
  }
  
  
a.download {
  display: block;
  font-size: 16px;
  color: #fd7700;
  line-height: 1.6em;
  padding-bottom: 30px; }

#secondarycontent {
  background-color: #eaeaea; }
  #secondarycontent a {
    color: #fd7700;
    text-decoration: none;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -o-transition: color .5s; }
    #secondarycontent a:hover {
      color: #000; }

#staff-list .vcard {
  border: none;
  padding-left: 0; }
  #staff-list .vcard .title {
    font-style: italic; }

#maincontent.standard-page h1 {
  font-weight: 900;
  font-size: 1.5em; }
#maincontent.standard-page h2 {
  font-weight: 900;
  font-size: 20px;
  margin: 0 0 20px 0; }
#maincontent.standard-page ul.standard {
  margin-left: 20px;
  margin-bottom: 30px; }
#maincontent.standard-page form {
  margin-bottom: 30px; }
  #maincontent.standard-page form label.ui-hidden-accessible {
    display: none; }
  #maincontent.standard-page form input[type="text"],
  #maincontent.standard-page form input[type="email"] {
    width: 250px;
    display: inline-block; }

#secondarycontent table {
  margin: 50px 0;
  width: 100%;
  background-color: #eaeaea;
  border-color: #ccc;
  border-spacing: 0; }
  #secondarycontent table th, #secondarycontent table td {
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    border-left: 1px solid #ccc; }
    #secondarycontent table th:first-child, #secondarycontent table td:first-child {
      text-align: left;
      border-left: none; }
  #secondarycontent table thead {
    background: #000; }
    #secondarycontent table thead th {
      color: #fff;
      padding-top: 20px;
      padding-bottom: 20px;
      border-left-color: #000; }
      #secondarycontent table thead th:first-child {
        font-weight: 900;
        font-size: 20px; }

.table-legend {
  margin-bottom: 50px; }
  .table-legend p {
    margin: 0;
    font-size: 0.625em; }

#secondarycontent .detailed-list-item {
  padding: 50px 0;
  border-top: 1px solid #ccc; }
  #secondarycontent .detailed-list-item:first-child {
    border-top: none; }
  #secondarycontent .detailed-list-item .thumbnail {
    padding-bottom: 10px; }
  #secondarycontent .detailed-list-item .title, #secondarycontent .detailed-list-item .date, #secondarycontent .detailed-list-item .description, #secondarycontent .detailed-list-item .budget, #secondarycontent .detailed-list-item .raised, #secondarycontent .detailed-list-item .action, #secondarycontent .detailed-list-item a {
    font-size: 1em; }
  #secondarycontent .detailed-list-item .title {
    font-weight: 900;
    line-height: 1.4em;
    padding-bottom: 5px; }
  #secondarycontent .detailed-list-item .caption {
    line-height: 1.4em; }
  #secondarycontent .detailed-list-item .budget {
    margin-bottom: 10px; }
  #secondarycontent .detailed-list-item .action {
    padding-right: 30px; }
  #secondarycontent .detailed-list-item .button {
    margin: 30px 10px 20px 0;
    color: #FFF !important;
    background-color: #000; }
    #secondarycontent .detailed-list-item .button:hover {
      background-color: #333; }
      
      
/* -----------------------------------------
   Exhibitions: Index (Current Exhibition)
----------------------------------------- */
.exhibition-index header.static {
  background: transparent;

}

.exhibition-index h1 {
  margin-bottom: 5px;
}
.exhibition-index h2 {
  margin-top: 0;
}
.exhibition-index .location {
  line-height: 1.5;
  font-size: 11px !important;
  font-weight: bold !important;
  color: #333 !important;
  text-transform: uppercase;
  padding-left: 16px;
  background: transparent url('http://www.colum.edu/Site_Files/localist/site-images/location-icon.png') no-repeat left top;
  left: 280px;
  top: 40px;
}
.exhibition-index .location a {
  color: #333;   
}
hr.related {
  margin-right: 10px;
}
.related.feature {
  /* height: 242px; */
}
.feature > a {
    display: block;
    /*min-height: 253px;*/
}
.feature a .description p {
  color: #fff !important;
  text-decoration: underline !important;
}
.feature a:hover .description p {
  text-decoration: none !important;
}
.exhibition-index span.date {
  font-size: 24px;
  display: block;
  font-weight: normal;
  margin-top: 5px;
}
.exhibition-description blockquote {
  width: 360px;
  float: right;
  margin: 20px 0 40px 40px;
}
.exhibition-description .no-bullets li {
    line-height: 1.2;
    padding: 0.5em 0;
}
#exhibition-slider {
  margin-bottom: 50px;
  min-height: 480px;
}
/* fix white vertical line glitch */
#exhibition-slider.dark {
  background: #000;
}
#exhibition-slider.dark .orbit-caption {
    text-align: center;
}
#exhibition-slider li {
    background: #000;
}
#exhibition-slider div .thumbnail {
  height: 480px;
  width: 728px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#exhibition-slider div .thumbnail img {
  max-width: 650px;
  max-height: 380px;
  border: solid white 6px;
  margin: 0 auto;
}
.exhibition-index ul li {
  list-style: none;
}
#exhibition-slider .caption {
  color: #fff;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: .9em;
}
.orbit-wrapper .orbit-caption {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-style: italic;
}
.exhibition-description {
  padding-top: 40px;
}
.mpp-list {
  padding-bottom: 50px;
}
.mpp li,
.mpp-list li {
  list-style: none;
  font-weight: bold;
  font-size: 16px;
}
.mpp-list li a {
  position: relative;
  display: block;
  height: 150px;
  padding: 55px 0;
  text-align: center;
  text-decoration: none;
  color: #333;
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.mpp-list li a:hover {
  color: #fd7700;
}
.mpp-list li a .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 2;
}
.mpp-list li a span {
  font-size: 1.2em;
  color: #fff !important;
  z-index: 3;
  position: relative;
}
.mpp-list li a:hover .overlay {
  background: rgba(0,0,0,0.2);
}


/* -----------------------------------------
   Exhibitions: Archive (Past Exhibitions)
----------------------------------------- */
dl.tabs.exhibition-archive dd a {
  font-size: 0.9em;
  padding: 0 1.5em;
}
.exhibition-archive-list li {
  margin-bottom: 20px;
}
.exhibition-archive-list time {
    font-weight: bold;
    font-size: 11px;
    color: white;
    text-transform: uppercase;
    background: #333;
    padding: 4px;
    position: absolute;
    left: 0;
    top: 10px;
    z-index: 5;
    width: 55px;
}
.exhibition-archive-list p {
  color: #333;
  padding-top: 0.5em;
}
.exhibition-archive-list a:hover p {
  color: #fd7700;
}
.exhibition-archive-list .thumbnail {
  height: 164px;
  width: 230px;
  background-size: cover;
}
.exhibition-archive-list .exhibition-title,
.exhibition-archive-list .exhibition-date {
  font-size: 16px;
  display: block;
  line-height: 1.4;
  color: #000;
}
.exhibition-archive-list .exhibition-title {
  font-weight: 900;
  margin-top: 20px;
}
.exhibition-archive-list .exhibition-date {
  font-weight: normal;
}
.exhibition-archive-list li a {
  text-decoration: none;
  position: relative;
  display: block;
}
.exhibition-archive-list .details {
  font-size: 16px;
  display: block;
  line-height: 1.4;
  font-weight: normal;
}
.exhibition-archive-list a:link .exhibition-title,
.exhibition-archive-list a:visited .exhibition-title {
  color: #000;
    -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition:  color 0.2s;
  -o-transition:  color 0.2s;
  transition:  color 0.2s;
}
.exhibition-archive-list a:hover .exhibition-title {
  color: #fd7700;
    -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.exhibition-archive-list a:active .exhibition-title {
  color: #000;
}





/* -----------------------------------------
   Events
----------------------------------------- */
/* EVENTS */

#localist-event header {
  background-color: transparent;
  padding: 0;
  margin: 0;
}
#localist-event header h1 {
  padding: 0;
  margin: 0;
  max-width: 455px;
  color: #FD7700;
}
#localist-event header h1 a {
  text-decoration: none;
}
#localist-event header h1 a:hover {
  color: #444;
}
#localist-event time {
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  background: #282828;
  padding: 3px 3px 3px 9px;
  line-height: 40px; }
  #localist-event .start-time {
    padding-right: 3px;
  }
  #localist-event .start-time span {
    background: #fff;
    color: #333;
    padding: 0 4px;
  }
  #localist-event time:hover {
    text-decoration: none; }
  #localist-event time .time {
    background: white;
    padding: 0 6px;
    margin-left: 9px;
    text-transform: lowercase; }
#localist-event > img {
  padding-bottom: 20px;
  max-width: 100%;
  display: block; }
#localist-event .location,
.localist-event .more h2.location,
h5.location {
  font-size: 11px !important;
  font-weight: bold !important;
  color: #333 !important;
  text-transform: uppercase;
  padding-left: 16px;
  background: transparent url('http://www.colum.edu/Site_Files/localist/site-images/location-icon.png') no-repeat left center; }
h5.location {
    color: #fff !important;
    background: transparent url('http://www.colum.edu/Site_Files/localist/site-images/location-icon-i.png') no-repeat left center;
    font-weight: normal !important;
}
#localist-event footer {
  display: block;
  background-color: transparent; }
  #localist-event footer:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  #localist-event footer a.button {
    margin-right: 20px; }

.localist-events {
  margin-left: 84px;
}

.localist-events h1#events-head {
  background: transparent;
  padding: 15px 0;
  margin: 0;
  color: #333;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1em;
}
.localist-event header {
  background-color: transparent;
  padding: 0;
}
.localist-event header h1 {
  text-transform: none;
}
.localist-events footer {
  background-color: transparent;
}

.localist-event .more {
  right: 310px !important;
}

.localist-event .more  {
  margin: 10px 0 5px 0 !important;
}
.localist-event .more .read-more {
  background: transparent url('http://colum.edu/Site_Files/localist/site-images/feedarrow.png') no-repeat left 1px;
  padding-left: 20px;
}
.localist-event .tickets small {
  display: block;
  margin: 0.5em 0;
  font-size: 70%;
  max-width: 215px;
}

#event-feed header {
  background: transparent;
  padding: 0;
}
#event-feed > .localist-events:nth-child(2) {
  padding-top: 4em;
}
.localist-events > header,
.localist-events h1#events-head,
.localist-events footer a,
.localist-event header time,
.localist-event .more time,
.localist-event .more h2,
.localist-event .more .read-more {
    color: #FD7700 !important;
}

.localist-event time.date {
    margin: 0 4px 0 4px;
}



.localist-event aside.date {
    background-color: #FD7700 !important;
    padding: .5em 0 .5em .5em;
}


/* MPP Artist Pages*/
#maincontent.mpp-artist h1 {
  margin: 0;
}
#maincontent.mpp-artist h2 {
  display: block;
  font-weight: normal;
  margin-bottom: 30px;
}
.mpp-artist .block-grid {
  margin: 30px 0;
}
.mpp-artist .caption {
    padding: 10px 0 30px 0;
    display: block;
}
.mpp-artist .description {
    padding-bottom: 50px;
}
.mpp-artist .collection-description {
    padding-top: 15px;
}
#maincontent.mpp-artist h2.mocp-label {
  margin: 0;
}
.mpp-artist .block-grid a,
.mpp-artist .hightlight a {
  text-decoration: none;
  color: #333;
}

/* SUBSCRIBE */
#subscribe {
  background: #34D4C3 url('../images/ui/gradient.png') no-repeat;
  background-size: cover;
}
#subscribe .row {
  background: transparent url('../images/ui/shadow.png') no-repeat top center;
  padding: 44px 0;
}
#subscribe h2 {
  display: inline;
  font-weight: 900;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  padding: 0 20px;
}
#subscribe p {
  display: inline;
  color: #FFF;
  font-size: 1.125em;
}
#subscribe input[type="email"] {
    font-size: 0.875em;
    padding: 7px;
    width: 200px;
    margin-top: 2px;
  background-color: rgba(103,12,6,0.4);
    color: #FFF;
    border: none;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 3px 6px 0px #222;
  -moz-box-shadow: inset 0px 3px 6px 0px #222;
  box-shadow: inset 0px 3px 6px 0px #222;
  /* fix vertical offset */
  position: absolute;
  left: 33px;
  top: -1px;
}
::-webkit-input-placeholder {
  color: #FFF;
}
:-moz-placeholder {
  color: #FFF;
}

#mc-embedded-subscribe-form {
  vertical-align: middle;
  margin: 0 20px 0 0;
  float: right;
}



@media only screen and (max-width: 58.75em) {

    
    #tactical-nav .foundicon-facebook {
        padding-left: 10px; 
    }

    header .wordmark {
        float: right;
        padding-right: 1.2em;
    }
    
    #exhibition-slider {
        min-height: 0;
    }

}

@media only screen and (max-width: 47.9375em) {


    #tactical-nav .inline-list {
        padding-top: 0.5em;
        /*position: absolute;
        right: 2em;
        top: 2em;*/
    }
    
    #topsearch {
        padding:0.5em 0 0 0;
    }
    

    
    #maincontent {
        padding-top: 0;
    }
}

@media only screen and (max-width: 43.75em) {

    .slideshow-wrapper .spotlight .description {
      position: relative;
      background: #111;
    }
    .orbit-container .orbit-prev, .orbit-container .orbit-next {
      top: 25%;
    }
    .upcoming-exhibitions .spotlight {
      height: auto;
    }
    .upcoming-exhibitions .spotlight img {
      float: none;
    }
    .upcoming-exhibitions .spotlight .description {
      position: relative;
      width: auto;
      background: #111;
    }
    #subscribe h2 {
      display: none;
    }
    #subscribe p {
      display: block;
      padding-left: 1em;
    }
    
}


@media only screen and (max-width: 31.25em) {
 
    header .wordmark {
        display: none;
    }
 
    #tactical-nav .inline-list {
       /* top: -2em; */
        right: 0.5em;
    }
    
    .feature > a {
        min-height: 0;
    }

    
}


@media only screen and (max-width: 24.375em) {
    #tactical-nav .inline-list li {
        margin-left: 0.15em;
    }
    
}

@media only screen and (min-width: 1015px) {

    #tactical-nav .general.foundicon-location span,
    #tactical-nav .general.foundicon-clock span {
        display: inline;
    }

}